absl-py==0.11.0
astunparse==1.6.3
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
Cython==0.29.21
dataclasses==0.6
decorator==4.4.2
dill==0.3.2
fire==0.3.1
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.33.2
h5py==2.10.0
idna==2.10
imageio==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.0
llvmlite==0.34.0
Markdown==3.3.3
matplotlib==3.3.2
mediapipe==0.8.0
msgpack==1.0.0
msgpack-numpy==0.4.7.1
networkx==2.5
numba==0.51.2
numpy==1.18.5
oauthlib==3.1.0
opencv-python==3.4.11.45
opt-einsum==3.3.0
Pillow==8.0.1
protobuf==3.13.0
psutil==5.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
pyzmq==19.0.2
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.17.2
scipy==1.5.3
six==1.15.0
slidingwindow==0.0.14
swiglpk==4.65.1
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorpack @ git+https://github.com/ppwwyyxx/tensorpack.git@2d5707c036864d5938478a731d37c646fbd71823
termcolor==1.1.0
tf-slim @ git+https://github.com/adrianc-a/tf-slim.git@80265a15482b4f81f162a344f13659a855cc5543
tifffile==2020.10.1
tqdm==4.51.0
urllib3==1.25.11
Werkzeug==1.0.1
wrapt==1.12.1
